*{ 
    margin: auto;
 
    
}
@media (min-width: 768px){
    #top-box {
        background-color: black;
        color: white;
        width: 960px;
        height: 100px;    
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    #top-box {
        background-color: seagreen;
        width:480px;
        height: 75px;
        text-align: center;
    }

}

 .letters {
border: 1px solid black;
/* text-align: center; */
/* text-align: justify; */
text-align: center;



/* justify-content: center; */
}

@media (min-width: 768px){
    #box-b {
        background-color: sienna;
        float: left;
        width: 200px;
        height: 600px;

    }
}
@media (min-width: 480px) and (max-width: 767px){
    #box-b {
        background-color: slateblue;
        clear: left;
        width: 480px;
        height: 150px;

    }
}

@media (min-width: 768px){
    #two-box-one {
        background-color: slategray;
        width: 380px;
        height: 200px;
        float: left; 
        /* clear: left;  */
    }
    #two-box-two{
        background-color: purple;
        width: 380px;
        height: 200px;
        float: right;
        /* clear: left; */
    }
}

@media (min-width: 480px) and (max-width: 767px){
    #two-box-one {
        background-color: springgreen;
        width: 480px;
        height: 125px;
        /* float: left; */
    }
    #two-box-two{
        background-color: purple;
        width: 480px;
        height: 125px;
        /* float: right; */
        /* clear: left; */
    }
}

@media (min-width: 768px){
    #four-box-one {
        background-color: yellowgreen;
        width: 190px;
        height: 250px;
        /* clear: right; */
        float: left;
       
      
        /* clear: left;  */
    }
    #four-box-two {
        background-color: yellow;
        width: 190px;
        height: 250px;
        position: inline-block;
        margin-left: 600px;
       
    }

    
}

@media (min-width: 480px) and (max-width: 767px){
    #four-box-one {
        background-color: rebeccapurple;
        width: 240px;
        height: 250px;
        clear: both;
        float: left; 
      
    }
    #four-box-two {
        background-color: rebeccapurple;
        width: 240px;
        height: 250px;
        position: inline-block;
        margin-left: 240px;
        /* clear: left; */
        /* float: right; */

    }
}
        
@media (min-width: 768px){
     #box-i {
        background-color: violet;
        width: 760px;
        height: 150px;
        float: right;

 }
}
                
@media (min-width: 480px) and (max-width: 767px){
    #box-i {
        background-color: turquoise;
        width: 480px;
        height: 80px;
        /* margin-top: 510px; */
                    
                        
    }
}
                